#links {
	background: linear-gradient(to bottom, #ffc34d, yellow);
	width: 100%;
	height: 30px;
	padding-top: 5px;
	font-size: 15px;
	overflow: auto;
	font-family: 'Julius Sans One', sans-serif;
	padding-right: 5px;
}


#book{
	margin-top: 30px;
	/*border-bottom: 20px #993333 solid;*/
}

#gotMovie{
	margin-top: 30px;
}

#bookInfo{
	margin-top: 30px;
}

.bookImage{
	height: 180px;
	width: 130px;
	/*margin: 15px;*/
}

#bookTitle{
	font-family: 'Marcellus SC', serif;
	font-size: 21px;
	background-color:  white;
	color: black;
	/*width: px;*/
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 18px;
	border-right: 30vw  #993333 solid;
	border-left: 5vw  #993333 solid;
	border-top: -5px;
	padding: 5px;
	text-align: left;
}

#movieTitle{
	/*margin-top: 1vw;*/
	font-family: 'Cormorant Garamond', serif;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid black;
}

#searchBox{
	border: solid 1px lightgray !important;
	padding: 10px !important;
	margin-top: 3vw !important;
	/*background-color: white;*/
	font-family: 'Marcellus SC', serif;
	font-size: 19px;
}

#poll{
	/*border: solid 1px lightgray !important;*/
	padding: 10px !important;
	margin-top: 3vw !important;
	width: 100% !important;
	text-align: center;
}

#poll{
	/*border: solid 1px lightgray !important;*/
	padding: 10px !important;
	margin-top: 1vw !important;
	width: 100% !important;
	text-align: center;
	margin-bottom: 10px;
	color:black;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

#poll:hover {
	transform: scale(1.2);
}

.vote {
	color: black;
	font-size: 18px;
}

#search{
	margin-top: 10px !important;
	/*color: #993333;*/
}

#search:hover {
	margin-top: 10px !important;
	background-color: #993333;
	color: white;
	opacity: .90;
}

input[type=text]:focus {
    border: 2px solid #555;
}

label{
	margin-top: 5px !important;

}
.card{
	float: left;
	height: 240px;
}

#bookPoster{
	margin-top: 30px;
}

#myImg{
	float: left;
	height: 220px;
	width: 180px;
}

.navbar{
	background-color: lightgrey;
	height: 200px;
}

#myTitle{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Cormorant Garamond', serif;
	margin-top: 10px;
	
	border-bottom: 1px solid black;
}

#author, #category, #publish, #pages, #description {

	font-family: 'Jaldi', sans-serif;
	margin-left: -30px;
}

#myBook{
	margin-top: 2vw !important;
	/*text-align: center;*/
}

#myMovie{
	margin-top: 2.5vw !important;
	/*text-align: center;*/
}

#myPoster{
	margin-top: 2vw !important;
	/*text-align: center;*/
}

#moviePoster{
	margin-top: 3vw !important;
	/*text-align: center;*/
	/*margin-top: 0px;*/
	/*margin-bottom: 30px;*/
}

#movieInfo{
	margin-top: 30px;
	/*text-align: center;*/
	/*padding-right: 90px;*/
}

#descriptionMovie {
	font-family: 'Jaldi', sans-serif;
	
}

#director, #release, #rating, #runtime, #actors, #awards {

	font-family: 'Jaldi', sans-serif;
}

#movieButton{
	margin: 10px !important;
	/*background-color: lightblue !important;*/
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color:  #ffd11a;
}

#movieButton:hover {
	background-color:  gold;
	margin: 10px !important;
	/*background-color: lightblue !important;*/
	padding-right: 20px !important;
	padding-left: 20px !important;
	border: 2px solid orange;
	
}

#trailer{
	font-size: 25px;
	text-align: center;
	margin-top: 3vw;
}

#memeHolder{
	margin-top: 80px;
}

/*span{
	margin-right: 5px;
	margin-left: 5px;
}*/

#yes, #no, #maybe{
	margin-right: 5px;
	margin-left: 5px;
}

.glyphicon{
	margin-right: 5px;
	margin-left: 5px;
}

#img-holder{
	width: 100%;
	margin: auto;
	text-align: center;
}


#memes{
	border: solid 3px black !important;
}

#find{
	font-size: 1.5vw;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;  /*16:9*/ 
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 70%;
}

.border{
	border: solid 1px lightgray;

}

@media only screen and (max-width: 360px){
	.card{
		margin-left: 60px;
	}

	#myPoster{
		margin-left: 45px;
	}

	#bookInfo{
		margin-left: 60px;
		/*background-color: blue !important;*/
	}

	#movieInfo{

		margin-top: 30px;
		margin-left: 25px;
		/*background-color: blue;*/
	}

	#noMovie{
		margin-left: 45px;
	}

	#find{
		margin-left: 5px;
	}

	#moviePoster{
		margin-left: 45px;
	}

	#movieButton{
		margin-left: 5px !important;
		/*background-color: blue !important;*/
	}

	#poll{
		margin-left: -30px;
	}

	.videoWrapper iframe {
	width: 100%;
	height: 100%;
	}
}